/*selektor znacznika*/
p {
    color: orange;
}
/*selektor ID*/
p#paragraf {
    color: fuchsia;
}
/*łączenie selektorów*/
a, span, div {
    background-color: lime;
}
li > a {
    background-color: yellow;
}
ul a {
    background-color: blue;
}