/*selektor znacznika*/
p {
    color: orange;
}
/*selektor ID*/
p#paragraf {
    color: fuchsia;
}
/*łączenie selektorów*/
a, span, div {
    background-color: lime;
}
li > a {
    background-color: yellow;
}
ul a {
    background-color: blue;
}

h1 + p {
    color: pink;
}
h1 ~ p {
    color: aqua;
}

ul#lista > li:not(.last) {
    background-color: beige;
}
ul#lista > li:nth-child(3) {
    background-color: red;
}